* {
  box-sizing: border-box;
}

body{
  font-family: "Manrope", sans-serif;
}

.navbar{
  background-color: #F55A5A;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar img{
  margin-right: 5px;
  width: 24px;
}

.hero{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .photo{
  width: 125px;
  min-height: 168px;
  border-radius: 5px;
  object-fit: cover;
}

.hero .location{
  display: flex;
}