@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 105vh;
}

.app{
    margin-top: 10px;
    width: 550px;
    background-color: white;
}